.box{
    height: 20rem;
    width: 40rem;
    position: relative;
    float: right;
    right: 14%;
    margin-top: 7rem;
}

.paragraph{
    font-family: 'IBM Plex Mono', monospace;
}

.button-first{
    margin-right: 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.button-second{
    margin-right: 20px;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #000;
}