.Main-Nav{
    width: auto;
    border: 1.5px solid #B9BBB6;
    position: fixed;
    left: 30rem;
    bottom: 16px;
    border-radius: 30px;
    background-color: #fff;
    z-index: 999;
}
.inner-div{
    display: flex;
    padding: 8.5px 18px 8.5px 18px;
}

.icons{
    padding: 7.5px 10px 7.5px 10px;
    cursor: pointer;
    border-radius: 50%;
}

